<h4><small>{{title}}</small></h4>
<hr>
<h2>WAR!</h2>
<button type="button" ng-click="getcards()">Deal</button>

<button type="button" ng-click="resetdeck()">Reset Deck</button>

<button type="button" ng-click="showwinner()">Flip Card One</button>

<h3>{{winner}}</h3>

<h2>My Stack</h2>
<div class="rowofcards">
  <ul ng-repeat="eachcard in mycards">
    <li>{{eachcard.value}}</li>
    <li><img style="width:100px;height:140px;" src="{{eachcard.image}}" alt=""></li>
  </ul>
  <br><br>
</div>
<h2>Your Stack</h2>
<div class="rowofcards">
  <ul ng-repeat="cardeach in yourcards">
    <li>{{cardeach.value}}</li>
    <li><img style="width:100px;height:140px;" src="{{cardeach.image}}" alt=""></li>
  </ul>
  <br><br>
</div>
