<h3 align="center">{{title}}</h3>
<hr>
<div class="" align="center">
  <h2>WAR! | {{winner}}</h2>
  <button type="button" ng-click="getcards()">Deal</button>

  <button type="button" ng-click="resetdeck()">Reset Deck</button>

  <button type="button" ng-click="showwinner()">Flip Card One</button>
</div>




<h2>My Stack   |   Score: {{mywins}}</h2>
<h4></h4>
<div class="rowofcards">
  <ul ng-repeat="eachcard in mycards">
    <li>{{eachcard.value}}</li>
    <li><img style="width:100px;height:140px;" src="{{eachcard.image}}" alt=""></li>
  </ul>
  <br><br>
</div>
<h2>Your Stack   |   Score: {{yourwins}}</h2>
<h4></h4>
<div class="rowofcards">
  <ul ng-repeat="cardeach in yourcards">
    <li>{{cardeach.value}}</li>
    <li><img style="width:100px;height:140px;" src="{{cardeach.image}}" alt=""></li>
  </ul>
  <br><br>
</div>
